/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.container  {
	margin: 0;
	padding-left: 25px;
}

.navbar-brand h1 {
	color: black;
	font-weight: bold;
	margin: 0;
}

/** END HEADER **/


/** FOOTER **/


/** END FOOTER **/


/** HOME PAGE **/
h2 {
	font-size: 2em;
	text-align: center;
	padding-bottom: 15px;
}

.menu-entry {
	background-color: grey;
}

/********** Large and medium devices only **********/
@media (min-width: 768px) {
	.menu-entry {
		margin: 0px 10px 10px; 
	}
}

/********** Small device only **********/
@media (max-width: 767px) {
	.menu-entry {
		margin: 0px 40px 40px; 
	}
}


p.title {
	text-align: center;
	font-size: 1.7em;
}

p.content {
	margin: 0px 10px 0px;
	text-align: justify;
}

/** END HOME PAGE **/
