/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}


.navbar-brand h1 {
	color: black;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
}

#nav-list {
  margin-top: 10px;
}

#nav-list li {
  background-color: white;
  border-color: black;
}

#nav-list a {
	color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/** END HEADER **/


/** FOOTER **/


/** END FOOTER **/


/** HOME PAGE **/
h2 {
	font-size: 2em;
	/*text-align: center;*/
	padding-bottom: 15px;
}

.back-to-top {
	margin-top: 10px;
	font-style: italic;
}

.back-to-top a {
	text-decoration: underline;
	font-style: normal;
}

.menu-entry {
	background-color: #DCDCDC;
}

p.title {
	text-align: center;
	font-size: 1.7em;
}

p.content {
	margin: 0px 10px 0px;
	text-align: justify;
}


/********** Large and medium devices only **********/

@media (min-width: 768px) {
	.container {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	.navbar {
    	/*padding-top: 10px;*/
    	height: 70px;
  	}

	.menu-entry {
		margin: 0px 10px 10px; 
	}
}

/********** Small device only **********/
@media (max-width: 767px) {
	.menu-entry {
		margin: 0px 40px 40px; 
	}
}


/** END HOME PAGE **/
